/* Heart Icon Animation */
.heart-icon {
    color: #000; /* Initial color, change as needed */
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .heart-icon:hover {
    color: red; /* Color when hovered, change as needed */
    animation: heartbeat 0.8s ease infinite;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Trash Icon Animation */
  .trash-icon {
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .trash-icon:hover {
    transform: rotate(20deg); /* Rotate the trash icon when hovered */
  }
  